body{
    background-color: rgba(156, 220, 52, 0.643);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 10vh;
    color: rgb(139, 7, 205);
}

a{
    font-size: 4vh;
    text-decoration: none;
    color: black;
}

ol{
    font-size: 4vh;
}

a:hover{
    color: aliceblue;
}