---
import Layout from '../layouts/Layout.astro';
import ListCard from '../components/ListCard.astro';
---

<Layout title="Welcome to Astro.">
	<main class="">
		<h1 class="text-zinc-100 text-center bg-orange-600">Welcome to Fabiancito-games</h1>
		<div>
			<ListCard />
		</div>
	</main>
</Layout>
